= simple_form_for @staff, html: {class: 'form-inline' } do |f|
  - if @staff.errors.any?
    #error_explanation
      h2 = "#{pluralize(@staff.errors.count, "error")} prohibited this staff from being saved:"
      ul
        - @staff.errors.full_messages.each do |message|
          li = message
  .row.form_row
    .col-sm-2 メールアドレス
    .col-sm-10 = f.input :email, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
  .row.form_row
    .col-sm-2 名前
    .col-sm-10 = f.input :name, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
  .row.form_row
    .col-sm-2 パスワード
    .col-sm-10 = f.input :password, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
  .row.form_row
    .col-sm-2 パスワード確認
    .col-sm-10 = f.input :password_confirmation, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
  .actions.text-center = f.submit "送信", class: "btn btn-default btn-lg"
