.container
  = notice
  = alert
  - @current_user.errors.messages.each do |message|
    =message[1][0]
  = simple_form_for current_user, :url => update_leader_path, :method => 'patch' do |f|
    .row.form_row
      .col-sm-2 名前
      .col-sm-10 = f.object.name
    .row.form_row
      .col-sm-2 メールアドレス
      .col-sm-10 = f.object.email
    .row.form_row
      .col-sm-2 パスワード変更
      .col-sm-10 = f.input :password, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
    .row.form_row
      .col-sm-2 パスワード確認
      .col-sm-10 = f.input :password_confirmation, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
    = f.submit "更新", class: "btn btn-default btn-lg"

  h2 スタッフ一覧
  = simple_form_for current_user, :url => batch_leader_path do |f|
    table.table.table-striped
      thead
        tr
          td メールアドレス
          td 名前
          td パスワード
          td 給与表示
          td アカウント停止
          td 作業ログ
      tbody  
        = f.fields_for :staffs do | sf |
          tr
            td =sf.text_field :email
            td =sf.text_field :name
            td =sf.password_field :password
            td =sf.check_box :visible_wages
            td 
              =sf.check_box :suspended
              =sf.hidden_field :id
            td = link_to "ログ", "/staff_logs?user_id=#{sf.object.id}"  
    = f.submit '更新', :class => 'btn btn-default btn-lg'
  =link_to '追加', new_staff_path, :class => 'btn btn-default btn-lg'
