html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p ------ Whytlink KPI(#{@target_date.to_s}) ------
    p ID合計: #{@kpi_info[:total_accounts]}
    p ID発行(Completed STEP1): #{@kpi_info[:created_accounts]}
    p ID登録(Completed STEP3): #{@kpi_info[:registered_accounts]}
    p ID削除: #{@kpi_info[:deleted_accounts]}
    p ログイン: #{@kpi_info[:logged_in_accounts]}
