html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p Dear Dr.#{@name}
    p 確認の必要な論文リストの準備ができました。
    p ————————————————————————————————
    p ※このメッセージは「Whytlink」から自動送信されています。
    p
    p 専門医が、もっと輝く世の中へ。
    p Specialist Doctors Network “Whytlink”
