<%= form_for(@mr, url: mrs_update_path, method: :post) do |f| %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %><br>
  <%= f.label :password, t(".new_password") %><br>
  <%= f.password_field :password, required: true %><br>
  <%= f.label :password_confirmation, t(".password_confirm") %><br>
  <%= f.password_field :password_confirmation, required: true %><br>
  <%= f.hidden_field :reset_password_token, value: @mr.reset_password_token %>
  <%= f.submit t(".update_password") %>
<% end %>
