h2 医師重複一覧
= form_tag duplicate_doctor_lists_path, method: 'get'
  = select_tag(:search, options_for_select([["全件","all"],["未確認","unconfrimed"],["確認済","confirmed"]], params[:search])) 
  = submit_tag "検索"

table.table.table-striped
  thead
    tr
      td id
      td 名前
      td 確認
      td コメント  
      td 類似件数
      td 
  tbody
    - @duplicate_doctor_list.order(:id).each do |dl|
      tr
        td = dl.id.to_s
      	td = dl.doctor_last_name + dl.doctor_first_name
      	td
          = duplicate_doctor_convert_check(dl.check)
          - if dl.staff_logs.present?
            | 　
            = dl.staff_logs.map{ |sl| sl.user.name }.compact.join(",")
        td = truncate(dl.comment, :length => 20, :omission => "・・・")
        td = dl.doctor_ids.count > 1 ? dl.doctor_ids.count : 'なし'
        td = link_to '編集', duplicate_doctor_list_path(dl.id)

= paginate @duplicate_doctor_list
