h2 重複医師統合操作

table.table.table-striped
  thead
    tr
      td ID
      td 名前
      td 大学  
      td 病院名
      td 診療科
      td 登録日
      td 最終更新日
      td 詳細
      td 統合先医師ID
  tbody
    - doctor_ids = @duplicate_docter_list.doctor_ids
    - whytlink_drs = @duplicate_docter_list.doctors.map{ |m| m.id if m.email.present? }.uniq.compact
    - if whytlink_drs.present?
      - doctor_ids = doctor_ids - whytlink_drs
    - @duplicate_docter_list.doctors.each do |dr|
      - if whytlink_drs.index(dr.id) == nil
        tr
          td = dr.id
          td #{dr.last_name} #{dr.first_name}
          td = dr.universities.first.try(:name) if dr.universities.present?
          td = dr.departments.map{|i| i.hospital.name}.uniq.join('<br>').html_safe
          td = dr.departments.map{|i| i.name}.uniq.join(',')
          td = dr.created_at
          td = dr.updated_at
          td = link_to '詳細', "https://www.whytlink.com/#/doctor/#{dr.id}", :target => "_blank"
          td 
            = form_tag merge_duplicate_doctor_list_path, method: 'patch'
             = hidden_field_tag :src_id, dr.id
             = select_tag :dst_id, options_for_select(duplicate_doctor_ids_without(doctor_ids, dr.id)), :include_blank => true, :required => true
             = submit_tag '統合', :data => {:confirm => 'このレコードを指定したIDの医師レコードに統合します'}, :class => 'btn btn-primary'


= simple_form_for @duplicate_docter_list do |f|
  span 確認
  = f.check_box :check
  = f.input :comment, label: "備考"
  = f.submit '保存', :class => 'btn btn-default btn-lg'
