h2 重複した病院をマージ
= form_tag duplicate_hospitals_path, method: 'get' do
  = text_field_tag :search, params[:search]
  = submit_tag "検索"
br
- if @hospitals && !@hospitals.empty?
  = paginate @hospitals 
  = form_tag merge_duplicate_hospitals_path, method: 'patch' do
    = submit_tag "マージする"
    = hidden_field_tag nil, params[:search], name: "search"
    br
    table.table.table-striped
      thead
        tr
          td ID
          td マージ先
          td name
          td departments
          td medical_group_id
          td area_id
          td prefecture_id
          td std_region_code
          td postal_code
          td address
          td tmp_head
          td url
          td bed_num
          td acute_phase_bed_num
          td created_at
          td updated_at
          td tmp_user
          td user_id
          td code_region
          td code_number
          td code_checkdigit
          td phone
          td number_of_fulltime_medicine
          td number_of_fulltime_dentistry
          td number_of_fulltime_pharmacy
          td number_of_parttime_medicine
          td number_of_parttime_dentistry
          td number_of_parttime_pharmacy
          td establisher_org
          td establisher_first_name
          td establisher_last_name
          td director_first_name
          td director_last_name
          td designation_date
          td designation_reason
          td designation_start
          td beds_hash
          td state
          td version_year
      tbody
        - @hospitals.order(:id).each do |hospital|
          tr             
            td 
              div= hospital.id            
              div= hidden_field_tag nil, hospital.id, name: "duplicate_hospitals[listed_ids][]"
            td = radio_button_tag("duplicate_hospitals[dst_id]", hospital.id) 
            td = hospital.name
            td 
              = hospital.departments.limit(5).to_a.map{|item| item.name}.join(",")
              -if hospital.departments.length > 5
                = " 他。全" + hospital.departments.length.to_s + "科"
            td = hospital.medical_group_id
            td = hospital.area_id
            td = hospital.prefecture_id
            td = hospital.std_region_code
            td = hospital.postal_code
            td = hospital.address
            td = hospital.tmp_head
            td = hospital.url
            td = hospital.bed_num
            td = hospital.acute_phase_bed_num
            td = hospital.created_at
            td = hospital.updated_at
            td = hospital.tmp_user
            td = hospital.user_id
            td = hospital.code_region
            td = hospital.code_number
            td = hospital.code_checkdigit
            td = hospital.phone
            td = hospital.number_of_fulltime_medicine
            td = hospital.number_of_fulltime_dentistry
            td = hospital.number_of_fulltime_pharmacy
            td = hospital.number_of_parttime_medicine
            td = hospital.number_of_parttime_dentistry
            td = hospital.number_of_parttime_pharmacy
            td = hospital.establisher_org
            td = hospital.establisher_first_name
            td = hospital.establisher_last_name
            td = hospital.director_first_name
            td = hospital.director_last_name
            td = hospital.designation_date
            td = hospital.designation_reason
            td = hospital.designation_start
            td = hospital.beds_hash
            td = hospital.state
            td = hospital.version_year
  = paginate @hospitals  
