<h2>ReasonWhy Doctor Database：ログイン</h2>
<div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true, input_html: { style: "width:200px" } %>
    <%= f.input :password, required: false, input_html: { style: "width:200px" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div
<% end %>

<%= render "users/shared/links" %>
</div>
