= simple_form_for(@staff_log) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.input :staff_log_id
    = f.input :staff_log_type

  .form-actions
    = f.button :submit
