h3[id="user_id" data-id="#{@user.id}"] #{@user.name}さんの作業ログ
select.staff_log_month
  - @months.each do |m|
    - if @val == m.to_s
      option[value="#{m.to_s}" selected] = m.to_s
    -else
      option[value="#{m.to_s}"] = m.to_s



table.table
  thead
    tr
      th 日時
      th 作業タイプ
      th 内容
      th 作業ログID
  tbody
    - @staff_logs.each do |staff_log|
      tr
        td = staff_log.created_at
        td = staff_log.staff_log_type
        td = staff_log.sub
        td = staff_log.id.to_s
