p#notice = notice

p
  strong User:
  = @staff_log.user
p
  strong Staff log:
  = @staff_log.staff_log_id
p
  strong Staff log type:
  = @staff_log.staff_log_type

= link_to 'Edit', edit_staff_log_path(@staff_log)
'|
= link_to 'Back', staff_logs_path
