html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p #{@doctor.name}様
    p
      = raw @all_mail.content
    p ————————————————————————————————
    p ※このメッセージは「Whytlink」から自動送信されています。
    p
    p 専門医が、もっと輝く世の中へ。
    p Specialist Doctors Network “Whytlink”
    p ————————————————————————————————
