html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p Dr.#{@name}
    p
    p 「Whytlink」のアカウントを削除しましたのでご連絡申し上げます。
    p これまで「Whytlink」をご利用いただき、誠にありがとうございました。
    p 今後のご活躍とご発展をお祈りいたします。
    p
    p Whytlink事務局一同  
    p ————————————————————————————————
    p ※このメッセージは「Whytlink」から自動送信されています。
    p
    p 専門医が、もっと輝く世の中へ。
    p Specialist Doctors Network “Whytlink”
