-url = root_url + '#/signup?uuid=' + @user.uuid
html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    br
    br Whytlink（ホワイトリンク）事務局です。
    br この度はアカウント登録をお申込みいただき、ありがとうございます。
    br 
    br 現在は仮登録の状態です。
    br 本アカウント登録を完了するには下記URLにアクセスしてください。
    br
    br = link_to url, url      
    br
    br ※入力されたお客様の情報はSSL暗号化通信により保護されます。
    br  
    br URLにアクセスできない場合、お気軽にお問い合わせください。  
    br
    br このメールはアカウントを登録された方にお送りしています。 
    br このメールにお心当たりがない場合は、誠にお手数ですが本メールへの返信にてご連絡ください。
    br
    br -------------------------------------------------
    br Whytlink事務局：リーズンホワイ株式会社
    br 東京都港区虎ノ門5丁目11-1　オランダヒルズ森タワーRoP502
    br https://www.whytlink.com
    br お問い合わせメール先 ：　info@whytlink.com  
    br -------------------------------------------------      
