-url = root_url + '#/signup?uuid=' + @user.uuid
html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    = raw(@comment.first)
    p = link_to url, url
    = raw(@comment.last)

