html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p 登録Dr. ID: #{@id}
    p 名前 #{@name}
    p 医籍番号 #{@iseki_id}
    p 医籍取得日#{@iseki_date}
    p 性別 #{@sex}
    p 生年月日 #{@birthdate}
