html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p Dear Dr.#{@user.name}
    p Dr.#{@shined_user.name}が、あなたの投稿「#{truncate(@post.memo)}」を「輝いてるね！」と評価しました。
    p = link_to "#{MY_APP['url']}/#user", "#{MY_APP['url']}/#user"
    p
    p ————————————————————————————————
    p ※このメッセージは「Whytlink」から自動送信されています。
    p
    p 専門医が、もっと輝く世の中へ。
    p Specialist Doctors Network “Whytlink”
