html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p Dear Dr.#{@user.name}
    p Dr.#{@recommender.name}が、あなたの専門分野である「#{@skill.icd10.name}」を推薦しました。
    p = link_to "#{MY_APP['url']}/#user", "#{MY_APP['url']}/#user"
    p
    p ————————————————————————————————
    p ※このメッセージは「Whytlink」から自動送信されています。
    p
    p 専門医が、もっと輝く世の中へ。
    p Specialist Doctors Network “Whytlink”
