html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p Dear Dr.#{@follower_name}
    p
      = link_to "Dr.#{@followee_name}", "#{MY_APP['url']}/#/doctor/#{@followee_id}"
      | とリンクで繋がりました。
    p = link_to "#{MY_APP['url']}/#/user", "#{MY_APP['url']}/#/user"
    p
    p ————————————————————————————————
    p ※このメッセージは「Whytlink」から自動送信されています。
    p
    p 専門医が、もっと輝く世の中へ。
    p Specialist Doctors Network “Whytlink”
