html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p Dear Dr.#{@followee_name}
    p
      = link_to "Dr.#{@follower_name}", "#{MY_APP['url']}/#/doctor/#{@follower_id}"
      | からのリンク申請が届いています。
    p = link_to "#{MY_APP['url']}/#/user", "#{MY_APP['url']}/#/user"
    p
    p ————————————————————————————————
    p ※このメッセージは「Whytlink」から自動送信されています。
    p
    p 専門医が、もっと輝く世の中へ。
    p Specialist Doctors Network “Whytlink”
