html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p 推定虚偽登録Dr. id:   #{@id}
    p 推定虚偽登録Dr. name: #{@name}
    p
    p 報告Dr. id:   #{@reporter_id}
    p 報告Dr. name:   #{@reporter_name}
