html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    p Dr.#{@name}
    p
    p この度は、「Whytlink」へご登録をいただき、誠にありがとうございます。
    p 「Whytlink」は、日々医療現場で努力を重ねられているドクターの皆さま方がつながり、
    p よりよい未来への足がかりとなるための、
    p 「専門医」あるいは「専門医を目指すドクター」限定のソーシャルネットワークサービスです。
    p
    p 私たちはこの「Whytlink」を通して、
    p
    p ● ドクター同士が診療科や学閥を超え、思いや理想を共有し、刺激しあい、新しい医療への可能性を拓くこと。
    p ● 数多くの実績を積まれてきた専門医の皆さまの経験を、専門医を目指す若手ドクターたちに伝承し、向上心や夢・大望実現をサポートすること。
    p ● さらには、優秀な専門医に光があたり、その存在と重要性が広く一般に知れわたること。
    p
    p 以上のような役割を果たしていきたいと願っております。
    p
    p つきましては、
    p
    p １．Dr.#{@name}の経歴や所属病院・部門はもちろん、専門分野、受賞歴、論文歴まで、数々のご功績を「Whytlink」のプロフィールへ登録いただくと共に、
    p ２．日々の医療現場で気がついたことや質問、他のドクターにも知ってもらいたいこと、治療や手術実績の報告など、ドクター以外のユーザーが混在するSNSではできない、情報発信や共有を気兼ねなく行ってください。
    p ３．そして診療科や学閥を超え、Dr.#{@name}と思いを共有するドクターを、ぜひ「Whytlink」へご招待ください。
    p
    p 専門医の皆さまがもっと輝く、よりよい日本の医療社会の実現に向けて、
    p 微力ながらもその一助となるべく、よりよいサービス創りに尽力して参ります。
    p 何卒よろしくお願いいたします。
    p
    p 追伸：
    p Dr.#{@name}のプロフィール作成を、ぜひお手伝いさせていただきます。
    p よろしければ経歴や所属病院、専門分野、受賞歴、論文等が記載されたご経歴書を、
    p 電子ファイルにてWhytlink事務局「info@whytlink.com」までお送りください。
    p
    p リーズンホワイ株式会社
    p 代表取締役社長　塩飽　哲生
