.row
  .col-lg-12
    h4 インポート一覧
    div[style="margin-bottom: 20px"]
      = link_to 'API一覧', whyt_plot_apis_path
      = link_to 'ビュー一覧', whyt_plot_table_views_path, :style => " margin-left: 10px"
      = link_to 'エクスポートエラ一覧', whytplot_export_errors_path, :style => " margin-left: 10px"
    blockquote
      p 年度別
    - if @s3_folder.present?
      ul.list-group
        - @s3_folder.each_with_index do |directory, i|
          li.list-group-item
            p.h5 = link_to directory.key, { :controller => :datafiles, :action => :list, :year => @years[i]}
    - else
      - p flash[:notice]
    blockquote
      p データ情報
    table.table.table-bordered.table-striped.datafiles
      thead
        tr
          th テーブル名
          th データ数
      tbody
        tr
          td mdc_layer1_codes
          td.text-right #{MdcLayer1Code.all.count}
        tr
          td mdc_layer1s
          td.text-right #{MdcLayer1.all.count}
        tr
          td mdc_layer2s
          td.text-right #{MdcLayer2.all.count}
        tr
          td mdc_layer3s
          td.text-right #{MdcLayer3.all.count}
        tr
          td kcodes
          td.text-right #{Kcode.all.count}
        tr
          td medical_regions
          td.text-right #{MedicalRegion.all.count}
        tr
          td medical_municipalities
          td.text-right #{MedicalMunicipality.all.count}
        tr
          td addresses
          td.text-right #{Address.all.count}
        tr
          td municipalities
          td.text-right #{Municipality.all.count}
        tr
          td populations
          td.text-right #{Population.all.count}
        tr
          td dpc_hospitals
          td.text-right #{DpcHospital.all.count}
        tr
          td ag_by_dpch_x_mdc_l1cs
          td.text-right #{AgByDpchXMdcL1c.all.count}
        tr
          td ag_by_dpch_x_mdc_l2s
          td.text-right #{AgByDpchXMdcL2.all.count}
        tr
          td ag_by_dpch_x_reason_majors
          td.text-right #{AgByDpchXReasonMajor.all.count}
        tr
          td ag_by_dpch_x_reason_minors
          td.text-right #{AgByDpchXReasonMinor.all.count}
        tr
          td ag_by_dpch_x_mdc_l2_treatments
          td.text-right #{AgByDpchXMdcL2Treatment.all.count}
        tr
          td ag_by_mdc_l1s
          td.text-right #{AgByMdcL1.all.count}
        tr
          td regimen_pharmacy_rankings
          td.text-right #{RegimenPharmacyRanking.all.count}
        tr
          td regimen_regimen_rankings
          td.text-right #{RegimenRegimenRanking.all.count}
        tr
          td ag_by_mdcs
          td.text-right #{AgByMdc.all.count}
        tr
          td number_by_codes
          td.text-right #{NumberByCode.all.count}
  .col-lg-12
    div[style="margin-bottom: 20px"]
      = link_to 'API一覧', whyt_plot_apis_path
      = link_to 'ビュー一覧', whyt_plot_table_views_path, :style => " margin-left: 10px"
      = link_to 'エクスポートエラ一覧', whytplot_export_errors_path, :style => " margin-left: 10px"
