.row
  .col-lg-12
    h4 Excelファイル読み込み
    div[style="margin-bottom: 20px"]
      = link_to '年度別一覧に戻る', datafiles_path
      = link_to 'API一覧', whyt_plot_apis_path, :style => " margin-left: 10px"
      = link_to 'インポート一覧', datafiles_path, :style => " margin-left: 10px"
    = form_tag({ :controller => :datafiles, :action => :import }, { :method => :post }) do
      =submit_tag "インポート", :class => "btn btn-primary btn-large", :style => "margin-bottom: 10px"
      table.table.table-bordered.table-striped.datafiles
        thead
          tr
            th 選択
            th ファイルid
            th URL
            th インポート
            th データ行数
            th エラー数
            th ワーニング数
        tbody
          - @datafiles.each_with_index do |datafile, index|
            = hidden_field_tag  "import[" + index.to_s + "][id]",  datafile.id
            = hidden_field_tag  "import[" + index.to_s + "][filepath]", datafile.filepath
            tr
              td
                - if datafile.status == 'cannot_imoprt'
                  = check_box_tag "import[" + index.to_s + "][do]", true, false, {disabled:true}
                - else
                  = check_box_tag "import[" + index.to_s + "][do]", true, false
              td = datafile.id
              td
                = link_to_if datafile.id.present?, datafile.filepath,
                { :controller => :datafiles, :action => :show, :id => datafile.id }
              td
                div.status[class="#{datafile.status}"] = datafile.status_i18n
              td = datafile.total_line_num
              td = datafile.error_line_num
              td = datafile.warning_line_num
      =submit_tag "インポート", :class => "btn btn-primary btn-large"
