.container
  .row
    .col-lg-12
      h4 =@datafile.filepath
      =link_to "一覧へ戻る", { :controller => :datafiles, :action => :list, :year => @year }
.container.show-datafile
  .row
    .col-lg-6.col-md-6.col-sm-6
      dl
        dt インポート日
        dd=@datafile.updated_at
    .col-lg-6.col-md-6.col-sm-6
      dl
        dt ステータス
        dd[style="font-size: 26px"]=@datafile.status_i18n
  .row
    .col-lg-4.col-md-4.col-sm-4
      dl
        dt 読み込みデータ行数
        dd=@datafile.total_line_num
    .col-lg-4.col-md-4.col-sm-4
      dl
        dt エラー数
        dd =@datafile.error_line_num
    .col-lg-4.col-md-4.col-sm-4
      dl
        dt ワーニング数
        dd =@datafile.warning_line_num
.container.show-datafile-messages
  .row
    .col-lg-12
      dl
        dt エラーログ
        dd =simple_format @datafile.messages
      =link_to "一覧へ戻る", { :controller => :datafiles, :action => :list, :year => @year }
