h1 Listing mail_logs

table
  thead
    tr
      th Doctor
      th All mail
      th Done
      th
      th
      th

  tbody
    - @mail_logs.each do |mail_log|
      tr
        td = mail_log.doctor
        td = mail_log.all_mail
        td = mail_log.done
        td = link_to 'Show', mail_log
        td = link_to 'Edit', edit_mail_log_path(mail_log)
        td = link_to 'Destroy', mail_log, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Mail log', new_mail_log_path
