p#notice = notice

p
  strong Doctor:
  = @mail_log.doctor
p
  strong All mail:
  = @mail_log.all_mail
p
  strong Done:
  = @mail_log.done

= link_to 'Edit', edit_mail_log_path(@mail_log)
'|
= link_to 'Back', mail_logs_path
