.row
  .col-sm-3 アルバイト名
  .col-sm-9
    strong
      = current_user.email
.row[style="margin-top:15px"]
  .col-sm-3 所属名
  .col-sm-9
    strong JOBジョブ
.row[style="margin-top:15px"]    
  .col-sm-3 更新報酬集計
  .col-sm-3
    strong ￥10,500
  .col-sm-3
    select
      - 12.times.each do |i|
        option = (Time.now + i.month).strftime("%Y/%m")
  .col-sm-3 すべて見る
