.row
  .col-sm-3 地域
  .col-sm-9
    strong
      = @department.hospital.prefecture.name
.row[style="margin-top:15px"]
  .col-sm-3 病院名
  .col-sm-9
    strong
      = @department.hospital.name
.row[style="margin-top:15px"]
  .col-sm-3 診療科
  .col-sm-9
    strong
      - if @department.id.present?
        = @department.name
      - else
        span[style="color: red"] 新規診療科登録

- if @department.id.present?
  = simple_form_for @department, :url => update_work_department_lists_path do |f|
    table.sortable.table.table-striped[style="margin-top:25px"]
      thead
        tr
          th No
          th 診療科
          th 医師名  
          th 確認・更新
          th 未定
      tbody        
        = f.simple_fields_for :department_lists, wrapper: false do |df|
          - dl = df.object
          - if dl.active
            tr
              td =@department.department_lists.index(dl) + 1
              td = dl.doctor.departments.map{ |d| d.name }.join(",")
              td
                .tmp_check[style="display:inline-block"]
                = dl.doctor.name
              td
                = link_to "確認・更新", edit_doctor_path(dl.doctor)
              td
                = df.check_box :active
                = df.hidden_field :id 
                = df.hidden_field :order_num, :class => 'order'
    .pull-right
      = f.submit '保存', :class => 'btn btn-default'
      a.btn.btn-default[href="/doctors/new?department_id=#{@department.id}"] +医師追加
  .clearfix
  .panel.panel-default[style="margin-top:30px"] 
    .panel-heading
      strong 診療科備考
    .panel-body[style="margin:15px"]
      .row
        .col-sm-2 標準診療科名
        .col-sm-9  #{@department.categories.map{ |c| c.name }.join(",")}
      .row
        .col-sm-2 URL
        .col-sm-9  #{@department.url_list.map{ |url| "<a href='#{url}'>#{url}</a>" }.join(",").html_safe}
      hr         
      .row
        .col-sm-12 = @department.comment

- else          
  .panel.panel-default[style="margin-top:30px"] 
    .panel-heading
      strong 診療科追加
    .panel-body[style="margin:15px"]
      = simple_form_for @department, html: {class: 'form-inline' } do |f|
        = f.hidden_field :hospital_id, value: @department.hospital.id
        = f.input :name, label: "診療科名", label_html: {style: "width:100px"}, input_html: {style: "width:500px"}
        br
        = f.input :no_name, label: "診療科なし"
        br
        = f.input :department_type_list, label: "標準診療科名", label_html: {style: "width:100px"}, input_html: {style: "width:500px"}
        br
        = f.input :url_list, label: "URL", as: :text, label_html: {style: "width:100px"}, input_html: {style: "width:500px"}
        br
        = f.input :comment, label: "備考", as: :text, label_html: {style: "width:100px"}, input_html: {style: "width:500px"}
        br
        = f.submit "登録", :class => "btn btn-primary"

        
.panel.panel-default[style="margin-top:30px"] 
  .panel-heading
    strong 病院情報
  .panel-body[style="margin:15px"]
    .row
      .col-sm-2 郵便番号
      .col-sm-9 = @department.hospital.postal_code
    .row
      .col-sm-2 住所
      .col-sm-9 = @department.hospital.address
    .row
      .col-sm-2 院長
      .col-sm-9 = @department.hospital.tmp_head
    .row
      .col-sm-2 院長URL
      .col-sm-9 = link_to @department.hospital.url, @department.hospital.url
    .row
      .col-sm-2 総ベッド数
      .col-sm-9 = @department.hospital.bed_num
    .row
      .col-sm-2 急性期ベッド数
      .col-sm-9 = @department.hospital.acute_phase_bed_num    
    .row
      .col-sm-2 医療機関群
      .col-sm-9 = @department.hospital.medical_group.name
    .row
      .col-sm-2 提出日（？：最終更新日）
      .col-sm-9 = @department.hospital.updated_at       
