.row
  .col-sm-3 アルバイト名
  .col-sm-9
    strong
      = current_user.name
.row[style="margin-top:15px"]
  .col-sm-3 メールアドレス
  .col-sm-9
    strong
      = current_user.email
.row[style="margin-top:15px"]
  .col-sm-3 所属名
  .col-sm-9
    strong
      = current_user.leader.name
-if current_user.visible_wages
  .row[style="margin-top:15px"]
    .col-sm-3 更新報酬集計
    .col-sm-3
      strong ￥10,500
    .col-sm-3
      select
        - 12.times.each do |i|
          option = (Time.now + i.month).strftime("%Y/%m")
    .col-sm-3 すべて見る
.panel.panel-default[style="margin-top:30px"] 
  .panel-heading
    strong 医師情報更新（カテゴリー検索）
  .panel-body[style="margin:15px"]
    form.form-horizontal
      .row
        .form-group
          label.col-sm-2.control-label[style="text-align:left"] エリア
          .col-sm-9
            select#work_top_prefecture_select.form-control
              option 選択する
              - Prefecture.all.each do |pre|
                option[value="#{pre.id}"] = pre.name
      .row[style="margin-bottom:10px"]
        .col-sm-12.text-center
          span[class="glyphicon glyphicon-chevron-down" aria-hidden="true"]
      .row
        .form-group
          label.col-sm-2.control-label[style="text-align:left"] 病院名
          .col-sm-9#work_top_hospital_select_area
      .row[style="margin-bottom:10px"]
        .col-sm-12.text-center
          span[class="glyphicon glyphicon-chevron-down" aria-hidden="true"]            
      .row
        .form-group
          label.col-sm-2.control-label[style="text-align:left"] 診療科
          .col-sm-9#work_top_departments_select_area
  .panel-footer.text-center
    a#go_depart_ment_link.btn.btn-default.btn-lg[disabled=true] 検索
.panel.panel-default[style="margin-top:30px"]     
  = simple_form_for current_user do |f|
    .row.form_row
      .col-sm-2 パスワード変更
      .col-sm-10 = f.input :password, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
    .row.form_row
      .col-sm-2 パスワード確認
      .col-sm-10 = f.input :password_confirmation, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
    = f.submit "更新", class: "btn btn-default btn-lg"    
