= form_for @sheet do |f|
  - if @sheet.errors.any?
    #error_explanation
      h2 = "#{pluralize(@sheet.errors.count, "error")} prohibited this sheet from being saved:"
      ul
        - @sheet.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :area
    = f.text_field :area
  .field
    = f.label :medical_group
    = f.text_field :medical_group
  .field
    = f.label :work_status
    = f.text_field :work_status
  .field
    = f.label :hospital_id
    = f.text_field :hospital_id
  .field
    = f.label :hospital_name
    = f.text_field :hospital_name
  .field
    = f.label :doctor_name
    = f.text_field :doctor_name
  .field
    = f.label :position
    = f.text_field :position
  .field
    = f.label :department
    = f.text_field :department
  .field
    = f.label :university
    = f.text_field :university
  .field
    = f.label :graduation_year
    = f.text_field :graduation_year
  .field
    = f.label :society
    = f.text_area :society
  .field
    = f.label :profession
    = f.text_field :profession
  .field
    = f.label :skill
    = f.text_area :skill
  .field
    = f.label :result
    = f.text_area :result
  .field
    = f.label :link
    = f.text_area :link
  .field
    = f.label :history
    = f.text_area :history
  .field
    = f.label :top_or_next
    = f.text_field :top_or_next
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :created_at
    = f.text_field :created_at
  .field
    = f.label :updated_at
    = f.text_field :updated_at
  .field
    = f.label :update_user
    = f.text_field :update_user
  .field
    = f.label :comment
    = f.text_area :comment
  .actions = f.submit
