p#notice = notice

p
  strong Area:
  = @sheet.area
p
  strong Medical group:
  = @sheet.medical_group
p
  strong Work status:
  = @sheet.work_status
p
  strong Hospital:
  = @sheet.hospital_id
p
  strong Hospital name:
  = @sheet.hospital_name
p
  strong Doctor name:
  = @sheet.doctor_name
p
  strong Position:
  = @sheet.position
p
  strong Department:
  = @sheet.department
p
  strong University:
  = @sheet.university
p
  strong Graduation year:
  = @sheet.graduation_year
p
  strong Society:
  = @sheet.society
p
  strong Profession:
  = @sheet.profession
p
  strong Skill:
  = @sheet.skill
p
  strong Result:
  = @sheet.result
p
  strong Link:
  = @sheet.link
p
  strong History:
  = @sheet.history
p
  strong Top or next:
  = @sheet.top_or_next
p
  strong User:
  = @sheet.user
p
  strong Created at:
  = @sheet.created_at
p
  strong Updated at:
  = @sheet.updated_at
p
  strong Update user:
  = @sheet.update_user
p
  strong Comment:
  = @sheet.comment

= link_to 'Edit', edit_sheet_path(@sheet)
'|
= link_to 'Back', sheets_path
