.row
  .col-span-3 アルバイト名
  .col-span-9 = current_user.first_name
.row
  .col-span-3 所属名
  .col-span-9 = current_user.leader.name
.row    
  .col-span-3 更新報酬集計
  .col-span-3 ￥10,500
  .col-span-3
    select
      - 12.times.each do |i|
        option = (Time.now + i.month).strftime("%Y/%m")
  .col-span-3 すべて見る
