h2 診療科更新情報
= paginate @departments
table.table.table-striped
  thead
    tr
      td 県
      td 病院名
      td 診療科
      td 登録日
      td 最終更新日
      td 確認割当
  tbody
    - @departments.each do |d|
      tr
        td = d.hospital.prefecture.name
        td = d.hospital.name
        td = d.name
        td = d.created_at
        td = d.updated_at
        td
          .btn.btn-primary アルバイトに割当
