= simple_form_for(@all_mail) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: "タイトル", as: :string
    = f.input :content, label: "メール本文"
  .form-actions
    = f.button :submit, "作成", data: {:confirm => '本当によろしいですか?'}

hr
