div.pull-left
  strong Whytlink 一斉配信メール一覧
div.pull-right
  = link_to '新規作成', new_all_mail_path, :class => "btn btn-primary btn-large"

table.table.table-bordered.table-striped
  thead
    tr
      th タイトル
      th 内容
      th 処理
      th 作成日
      th

  tbody
    - @all_mails.each do |all_mail|
      tr
        td = all_mail.title
        td = truncate(all_mail.content)
        td = all_mail.done
        td = all_mail.created_at
        td = link_to '削除', all_mail, data: {:confirm => '本当によろしいですか?'}, :method => :delete, :class => "btn btn-danger"
