p#notice = notice

p
  strong Title:
  = @all_mail.title
p
  strong Content:
  = @all_mail.content
p
  strong Done:
  = @all_mail.done

= link_to 'Edit', edit_all_mail_path(@all_mail)
'|
= link_to 'Back', all_mails_path
