= simple_form_for @whyt_plot_table_view, html: {class: 'form-inline' } do |f|

  - if flash[:errors].present?
    div
      ul class=["alert","alert-danger"]
        - flash[:errors].each do |msg|
          li = msg

  table.table.table-bordered.table-striped
    thead
      tr
        th
        th content
    tbody
      tr
        th name
        td = f.input :name, label: false
      tr
        th create_view_sql
        td = f.text_area :create_view_sql, size: "80x25", class: "form-control"
      tr
        th description
        td = f.text_area :description, size: "80x15", class: "form-control"
      tr
        th is view
        td = f.input :is_view, label: false
      tr
  - if @whyt_plot_table_view.id
    .actions.text-center = f.submit "確認・更新", class: "btn btn-default btn-lg"
  - else
    .actions.text-center = f.submit "新規作成", class: "btn btn-default btn-mg"
