.row
  .col-lg-12
    div.pull-left
      h4 ビュー一覧
      div[style="margin-bottom: 20px"]
        = link_to 'API一覧', whyt_plot_apis_path
        = link_to 'インポート一覧', datafiles_path, :style => " margin-left: 10px"
        = link_to 'エクスポートエラ一覧', whytplot_export_errors_path, :style => " margin-left: 10px"

      div[style="margin-bottom: 20px"]
        - @sqlite_files.each do |key, url|
          ul.list-group
            - if key =~ /beta/
              li.list-group-item
                = link_to "テストデータ: #{key}", url, :style => "margin-left: 10px"
            - else
              li.list-group-item
                = link_to "本番データ: #{key}", url, :style => "margin-left: 10px"

    div.pull-right
      ul.list-group
        li.list-group-item
          = form_tag({ :controller => :whyt_plot_table_views, :action => :export }, { :method => :post }) do
            p= submit_tag "エクスポート", :class => "btn btn-success btn-large", :style => "margin-bottom: 5px; width: 100%"
            = check_box_tag 'is_production', true, false
            = label_tag 'is_production', '本番データを作成する'
        li.list-group-item.text-center
          = link_to '新規作成', new_whyt_plot_table_view_path,
          :class => "btn btn-primary btn-large", :style => "width: 100%"
.row
  .col-lg-12
    - if flash[:errors].present?
      div
        ul class=["alert","alert-danger"]
          - flash[:errors].each do |msg|
            li = msg

    - if flash[:notice].present?
      div
        ul class=["alert","alert-success"]
          li = flash[:notice]

.row
  .col-lg-12
    - if @whyt_plot_table_views.present?
      table.table.table-bordered.table-striped
        thead
          tr
            th id
            th name
            th create view sql
            th description
            th view
            th
        tbody
        - @whyt_plot_table_views.each do |whyt_plot_table_view|
          tr
            td = whyt_plot_table_view.id
            td = whyt_plot_table_view.name
            td = whyt_plot_table_view.create_view_sql
            th = whyt_plot_table_view.description
            th = whyt_plot_table_view.is_view
            th
              = link_to '表示', whyt_plot_table_view_path(whyt_plot_table_view), :class => "btn btn-success btn-sm"
              = link_to '編集', edit_whyt_plot_table_view_path(whyt_plot_table_view), :class => "btn btn-warning btn-sm"
              = link_to '削除', whyt_plot_table_view_path(whyt_plot_table_view),
                :method => :delete, :class => "btn btn-danger btn-sm",
                :data => {:confirm => "#{whyt_plot_table_view.name}テーブルを削除しますか？"}
    - else
      div
        h4
          p データがありません
.row
  .col-lg-12
    div.pull-left
      div[style="margin-bottom: 20px"]
        = link_to 'API一覧', whyt_plot_apis_path
        = link_to 'インポート一覧', datafiles_path, :style => " margin-left: 10px"
        = link_to 'エクスポートエラ一覧', whytplot_export_errors_path, :style => " margin-left: 10px"
