div.pull-left
  strong API追加
div.pull-right
  = link_to 'テーブルビュー一覧', whyt_plot_table_views_path, :class => "btn btn-primary btn-large"

- if @whyt_plot_table_view.present?
  table.table.table-bordered.table-striped
    thead
      tr
        th id
        th name
        th create view sql
        th 作成済み
    tbody
      tr
        td = @whyt_plot_table_view.id
        td = @whyt_plot_table_view.name
        td = @whyt_plot_table_view.create_view_sql
        td = @whyt_plot_table_view.is_created
  .actions.text-center = link_to '編集', edit_whyt_plot_table_view_path(@whyt_plot_table_view), :class => "btn btn-success btn-large"
- else
  div
    h4
      p データがありません
