<p><%= @mr.name %>様</p>
<p><%= t(".mail_header") %></p>
<p>
  <%= link_to t(".click_here"), edit_mr_url(id: @mr.id,
    mr: {reset_password_token: @mr.reset_password_token},
    host: "https://api_whytlink_dev.reasonwhy.jp") %>
</p>
<%= link_to t(".mail_footer"), "https://www.reasonwhy.jp" %></a>
