= simple_form_for @whyt_plot_api, html: {class: 'form-inline' } do |f|
  table.table.table-bordered.table-striped
    thead
      tr
        th
        th content
    tbody
      tr
        th 名前
        td = f.input :name, placeholder: "name", label: false
      tr
        th 目的(JP)
        td = f.text_area :purpose_jp, placeholder: "purpose_jp", size: "40x5", class: "form-control"
      tr
        th 目的(EN)
        td = f.text_area :purpose_en, placeholder: "purpose_en", size: "40x5", class: "form-control"
      tr
        th API SQL
        td = f.text_area :api_sql, placeholder: "api sql", size: "80x15", class: "form-control"
      tr
        th チャートタイプ
        td = f.collection_select :chart_type_id, ChartType.all, :id, :name, {}, {class: 'form-control'}
      tr
        th メタデータ
        td = f.text_area :meta_data, placeholder: "meta_data", size: "40x5", class: "form-control"
      tr
        th バージョン
        td = f.input :version, placeholder: "version", label: false
  - if @whyt_plot_api.id
    .actions.text-center = f.submit "確認・更新", class: "btn btn-default btn-lg"
  - else
    .actions.text-center = f.submit "更新", class: "btn btn-default btn-mg"
