div.pull-left
  h4 API編集
  div[style="margin-bottom: 20px"]
    = link_to '一覧に戻る', whyt_plot_apis_path
- if flash[:errors].present?
  div
    ul class=["alert","alert-danger"]
      - flash[:errors].each do |msg|
        li = msg

- if @whyt_plot_api.present?
  == render 'form'
- else
  div
    h4
      p データがありません
