.row
  .col-lg-12
    div.pull-left
      h4 API一覧
      div[style="margin-bottom: 20px"]
        = link_to 'ビュー一覧', whyt_plot_table_views_path
        = link_to 'インポート一覧', datafiles_path, :style => " margin-left: 10px"
        = link_to 'エクスポートエラ一覧', whytplot_export_errors_path, :style => " margin-left: 10px"
    div.pull-right
      = link_to '新規作成', new_whyt_plot_api_path, :class => "btn btn-primary btn-large"
- if flash[:errors].present?
  .row
    .col-lg-12
      div
        ul class=["alert","alert-danger"]
          - flash[:errors].each do |msg|
            li = msg
.row
  .col-lg-12
    - if @whyt_plot_apis.present?
      table.table.table-bordered.table-striped
        thead
          tr
            th ID
            th API名
            th 目的
            th パラメータ
            th API SQL
            th Type
            th Meta
            th Ver
            th
        tbody
        - @whyt_plot_apis.map.with_index do |whyt_plot_api, i|
          tr
            td = whyt_plot_api.id
            td = whyt_plot_api.name
            td
              div[style="max-width: 200px; word-wrap: break-word;"]
                p= whyt_plot_api.purpose_jp
                p= whyt_plot_api.purpose_en
            td
              -whyt_plot_api.params.each do |param|
                div=param
            td
              div[style="max-width: 300px; word-wrap: break-word;"]= whyt_plot_api.api_sql
            td = @chart_names[i]
            td = whyt_plot_api.meta_data
            td = whyt_plot_api.version
            th
              div= link_to '表示', whyt_plot_api_path(whyt_plot_api), :class => "btn btn-success btn-sm"
              div= link_to '編集', edit_whyt_plot_api_path(whyt_plot_api), :class => "btn btn-warning btn-sm"
              div= link_to '削除', whyt_plot_api_path(whyt_plot_api), :method => :delete, :class => "btn btn-danger btn-sm", :data => {:confirm => '削除しますか？'}
    - else
      div
        h4
          p データがありません
.row
  .col-lg-12
    div.pull-left
      div[style="margin-bottom: 20px"]
        = link_to 'ビュー一覧', whyt_plot_table_views_path
        = link_to 'インポート一覧', datafiles_path, :style => " margin-left: 10px"
        = link_to 'エクスポートエラ一覧', whytplot_export_errors_path, :style => " margin-left: 10px"
