div.pull-left
  strong API追加
div.pull-right
  = link_to 'API一覧へ', whyt_plot_apis_path, :class => "btn btn-primary btn-large"

- if @whyt_plot_api.present?
  table.table.table-bordered.table-striped
    thead
      tr
        th id
        th name
        th 目的(JP)
        th 目的(EN)
        th API SQL
        th チャートタイプ
        th メタデータ
        th バージョン
    tbody
      tr
        td = @whyt_plot_api.id
        td = @whyt_plot_api.name
        td = @whyt_plot_api.purpose_jp
        td = @whyt_plot_api.purpose_en
        td = @whyt_plot_api.api_sql
        td = @whyt_plot_api.chart_type_id
        td = @whyt_plot_api.meta_data
        td = @whyt_plot_api.version
  .actions.text-center = link_to '編集', edit_whyt_plot_api_path(@whyt_plot_api), :class => "btn btn-success btn-large"
- else
  div
    h4
      p データがありません
