h2 病院一覧
= form_tag hospitals_path, method: 'get' do
  = text_field_tag :search, params[:search]
  = submit_tag "検索"
= paginate @hospitals 
= form_tag merge_hospitals_path, method: 'patch' do
  = submit_tag "選択した病院をマージ"
  = hidden_field_tag nil, params[:search], name: "search"
  table.table.table-striped
    thead
      tr
        td ID
        td マージターゲット
        td 名称
        td 診療科
        td 役職名
        td 所属医師
        td 
    tbody
      - @hospitals.order(:id).each do |hospital|
        tr             
          td 
            div= hospital.id            
            div= hidden_field_tag nil, hospital.id, name: "hospitals[][id]"
          td = select_tag("hospitals[][target]", options_for_select(@hospitals.select{|item| item.id != hospital.id}.map{|item| item.id}), include_blank: true) 
          td = hospital.name
          td 
            = hospital.departments.limit(5).to_a.map{|item| item.name}.join(",")
            -if hospital.departments.length > 5
              = " 他。全" + hospital.departments.length.to_s + "科"
          td
          td = link_to '編集', edit_hospital_path(hospital.id)          
= paginate @hospitals  
