= simple_form_for @doctor, html: {class: 'form-inline' } do |f|
  - if @doctor.errors.any?
    #error_explanation
      h2 = "#{pluralize(@doctor.errors.count, "error")} prohibited this doctor from being saved:"
      ul
        - @doctor.errors.full_messages.each do |message|
          li = message

  .row.form_row
    .col-sm-2 医師名
    .col-sm-8  
      = f.input :last_name, placeholder: "姓", label: false
      = f.input :first_name, placeholder: "名", label: false, input_html: { class: "form_yoko" }
      = f.input :middle_name, placeholder: "ミドルネーム", label: false, input_html: { class: "form_yoko" }
    .col-sm-2
      - if @drs.present? && @duplicate_doctor_list && @duplicate_doctor_list.doctor_ids && @duplicate_doctor_list.doctor_ids.count > 1
        = link_to "類似#{@duplicate_doctor_list.doctor_ids.count}件", "/plural_doctors/#{@doctor.id}"
  .row.form_row
    .col-sm-2 英字（イニシャル）
    .col-sm-10       
      = f.input :last_name_initial, placeholder: "姓", label: false
      = f.input :first_name_initial, placeholder: "名", label: false, input_html: { class: "form_yoko" }
      = f.input :middle_name_initial, placeholder: "ミドルネーム", label: false, input_html: { class: "form_yoko" }

  .row.form_row
    .col-sm-2 卒業大学
    .col-sm-10
      = f.simple_fields_for :university do |unv|
        = render partial: 'university_fields', locals: {:f => unv}
      
  .row.form_row
    .col-sm-2 卒業年
    .col-sm-10 = f.input :graduation_year, placeholder: "卒業年", label: false
  .row.form_row
    .col-sm-2
      | 所属学会・認定の種類
      #add_society_for_dr_btn.btn.btn-primary + 追加 
    #society_list.col-sm-9
      - @doctor.society_lists.each_with_index do |society_list, idx|
        = f.simple_fields_for :society_lists, society_list do |sl|
          = render partial: 'society_list_fields', locals: {idx: idx, f: sl, dr: @doctor, main_f: f}
  .row.form_row
    .col-sm-2
    .col-sm-10    
      .alert.alert-warning.alert-dismissible
        = @doctor.society
        button[type="button" class="close" data-dismiss="alert" aria-label="Close"]
          span[aria-hidden="true"] &times;
  .row.form_row
    .col-sm-2 専門分野（疾患名）
    .col-sm-10 = f.input :profession, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
  .row.form_row
    .col-sm-2 得意とする治療
    .col-sm-10 = f.input :skill, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
  .row.form_row
    .col-sm-2 実績
    .col-sm-10 = f.input :result, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
  .row.form_row
    .col-sm-2 医師別URL
    .col-sm-10 = f.input :url, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
  .row.form_row
    .col-sm-2 経歴
    .col-sm-10 = f.input :history, wrapper: :inline_form_wide, label: false, input_html: { style: "width:100%" }
  .row.form_row
    .col-sm-8
    .col-sm-4
      .pull-right 登録日:#{@doctor.created_at}　更新日:#{@doctor.updated_at}

  .row
    .col-sm-12
      h3
        | 所属先情報
        .pull-right.btn.btn-primary 新規追加
  - @doctor.department_lists.each_with_index do |dl, idx|
    div[class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"]
      div[class="panel panel-default"]
        div[class="panel-heading" role="tab" id="heading#{idx}"]
          h4.panel-title
            a[data-toggle="collapse" data-parent="#accordion" href="#collapse#{idx}" aria-expanded="true" aria-controls="collapseOne"]
              span.department_num[style="margin-right:10px"] No.#{idx+1}
              | #{dl.department.hospital.name}: #{dl.department.name}
            .pull-right[style="margin-top:-9px"]
              div[class="btn-group" role="group"]
                button[type="button" class="btn btn-default"]
                  span[class="glyphicon glyphicon glyphicon-chevron-up"]
                button[type="button" class="btn btn-default"]
                  span[class="glyphicon glyphicon glyphicon-chevron-down"]
        div[id="collapse#{idx}" class="panel-collapse collapse #{idx == 0 ? 'in': '' }" role="tabpanel" aria-labelledby="heading#{idx}"]
          div[class="panel-body"]
            .row
              .col-sm-3 地域
              .col-sm-9
                strong
                  = dl.department.hospital.prefecture.name
            .row[style="margin-top:15px"]
              .col-sm-3 病院名
              .col-sm-9
                strong
                  = dl.department.hospital.name
            .row[style="margin-top:15px"]
              .col-sm-3 診療科
              .col-sm-9
                strong
                  = dl.department.name
            .row[style="margin-top:15px"]
              .col-sm-3 役職
              .col-sm-9
                input.department_list_position[type="text"]                
            .row[style="margin-top:15px"]
              .col-sm-3 診療科URL
              .col-sm-9
                  = dl.department.url_list.map{ |url| "<a href='#{url}'>#{url}</a>" }.join(",").html_safe
            .row[style="margin-top:15px"]
              .col-sm-3 未定
              .col-sm-9
                input[type="checkbox"]
                           


          
  .actions.text-center = f.submit "確認・更新", class: "btn btn-default btn-lg"
