div.row.form_row.society_list_top[id="society_#{idx}" data-society_id="#{f.object.society.try(:id)}"]
  .col-sm-6
    input.society_list_typeahead_list[id="society_lists_#{idx}" name="society_lists[#{idx}]" type="text" data-pre_data="#{ [{ id: f.object.try(:id), name: f.object.society.try(:name) }].to_json}" data-id="#{f.object.society.try(:id)}" data-name="#{f.object.society.try(:name)}" value="#{f.object.society.try(:name)}"]
    = f.hidden_field :id, class: "input_hidden_id"
    = f.hidden_field :society_id
    = f.hidden_field :name
    = f.hidden_field :_destroy
  .col-sm-6  
    - if f.object.society.present?
      - positions = dr.society_position_lists.joins(:society).where('societies.id = ?', f.object.society.id)  
      input[id="society_position_#{idx}" class="society_positions" type="text" data-pid="#{f.object.society.try(:id)}" data-pre_data="#{positions.map{ | pl | {id:pl.id, name: pl.society_position.name} }.to_json}"]
      - positions.each do |society_position_list |
        = main_f.simple_fields_for :society_position_lists, society_position_list do |spl|
          = spl.hidden_field :id, class: "input_hidden_id"
          = spl.hidden_field :society_position_id
          = spl.hidden_field :name
          = spl.hidden_field :_destroy     

