#university_typeahead
  input#university_typeahead_list[type="text" data-id="#{f.object.try(:id)}" data-name="#{f.object.try(:name)}" class="form-control"]
  = f.hidden_field :id
  = f.hidden_field :name
