h2 姓名重複一覧

table.table.table-striped
  thead
    tr
      td 名前
  tbody
    - @drs.each do |dr|
      tr
        td = link_to "#{dr.last_name} #{dr.first_name}", "/plural_doctors/#{@doctor.id}"
        td = link_to "詳細", "/plural_doctors/#{@doctor.id}"

table.table.table-striped
  thead
    tr
      td id
      td ids
      td check
      td log
  tbody
    - @doctorids.each do |doc|
      tr
      	td = doc.id
      	td = doc.doctor_ids
      	td = doc.check
      	td = doc.log