h1 Listing sheets

table
  thead
    tr
      th Area
      th Medical group
      th Work status
      th Hospital
      th Hospital name
      th Doctor name
      th Position
      th Department
      th University
      th Graduation year
      th Society
      th Profession
      th Skill
      th Result
      th Link
      th History
      th Top or next
      th User
      th Created at
      th Updated at
      th Update user
      th Comment
      th
      th
      th

  tbody
    - if @sheets
      - @sheets.each do |sheet|
        tr
          td = sheet.area
          td = sheet.medical_group
          td = sheet.work_status
          td = sheet.hospital_id
          td = sheet.hospital_name
          td = sheet.doctor_name
          td = sheet.position
          td = sheet.department
          td = sheet.university
          td = sheet.graduation_year
          td = sheet.society
          td = sheet.profession
          td = sheet.skill
          td = sheet.result
          td = sheet.link
          td = sheet.history
          td = sheet.top_or_next
          td = sheet.user
          td = sheet.created_at
          td = sheet.updated_at
          td = sheet.update_user
          td = sheet.comment
          td = link_to 'Show', sheet
          td = link_to 'Edit', edit_sheet_path(sheet)
          td = link_to 'Destroy', sheet, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Sheet', new_sheet_path
