h2 同性同名管理

table.table.table-striped
  thead
    tr
      td ID
      td 名前
      td 大学  
      td 病院名
      td 診療科
      td 登録日
      td 最終更新日
  tbody
    - @drs.each do |dr|
      tr
        td = dr.id
        td #{dr.last_name} #{dr.first_name}
        td = dr.university.try(:name)
        td = dr.department_lists.first.department.hospital.name  
        td = dr.department_lists.first.department.name
        td = dr.created_at
        td = dr.updated_at
        td
          input[type="text"]
          .btn.btn-primary 統合
table
  thead
    tr
      td 確認済
      td 
        input[type="checkbox"]
        .btn.btn-primary 保存