= simple_form_for(@staff_post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :body, label: "本文"
    = f.input :start_time, label: "開始時刻"
    = f.input :end_time, label: "終了時刻"

  .form-actions
    = f.button :submit, value: "決定"
