h2 事務局投稿

table.table.table-striped
  thead
    tr
      th 本文
      th 開始時刻
      th 終了時刻
      th
      th
      th

  tbody
    - @staff_posts.each do |staff_post|
      tr
        td = staff_post.body
        td = staff_post.start_time
        td = staff_post.end_time
        td = link_to '詳細', staff_post
        td = link_to '編集', edit_staff_post_path(staff_post)
        td = link_to '削除', staff_post, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to '新規作成', new_staff_post_path
