p#notice = notice

p
  strong 本文: 
pre
  = @staff_post.body
p
  strong 開始時刻: 
  = @staff_post.start_time.strftime("%Y年%m月%d日 %H時%M分")
p
  strong 終了時刻: 
  = @staff_post.end_time.strftime("%Y年%m月%d日 %H時%M分")

= link_to '編集 ', edit_staff_post_path(@staff_post)
'|
= link_to 'トップへ', staff_posts_path
