.row
  .col-lg-12
    div.pull-left
      h4 Whytplotエクスポートエラー一覧
      div[style="margin-bottom: 20px"]
        = link_to 'ビュー一覧', whyt_plot_table_views_path
        = link_to 'インポート一覧', datafiles_path, :style => " margin-left: 10px"
- if flash[:errors].present?
  .row
    .col-lg-12
      div
        ul class=["alert","alert-danger"]
          - flash[:errors].each do |msg|
            li = msg
.row
  .col-lg-12
    - if @WhytplotExportError.present?
      table.table.table-bordered.table-striped
        thead
          tr
            th エラー
            th 詳細
            th 作成日
            th
        tbody
        - @WhytplotExportError.map.with_index do |error, i|
          tr
            td = error.message
            td = error.detail
            td = error.created_at.strftime("%Y/%m/%d %X")
            th
              div= link_to '削除', whytplot_export_error_path(error), :method => :delete, :class => "btn btn-danger btn-sm", :data => {:confirm => '削除しますか？'}
    - else
      div
        h4
          p データがありません
.row
  .col-lg-12
    div.pull-left
      div[style="margin-bottom: 20px"]
        = link_to 'ビュー一覧', whyt_plot_table_views_path
        = link_to 'インポート一覧', datafiles_path, :style => " margin-left: 10px"
