h2 学会一覧
= form_tag societies_path, method: 'get' do
  = text_field_tag :search, params[:search]
  = submit_tag "検索", :class => "btn btn-primary"
= paginate @societies 
= form_tag merge_societies_path, method: 'patch' do
  = submit_tag "選択した学会をマージ", :class => "btn btn-primary"
  = hidden_field_tag nil, params[:search], name: "search"
  table.table.table-striped
    thead
      tr
        td ID
        td マージターゲット
        td 名称
        td 役職名
        td 所属医師数
        td 
    tbody
      - @societies.order(:id).each do |society|
        tr             
          td 
            div= society.id            
            div= hidden_field_tag nil, society.id, name: "societies[][id]"
          td = select_tag("societies[][target]", options_for_select(@societies.select{|item| item.id != society.id}.map{|item| item.id}), include_blank: true) 
          td = society.name
          td = society.society_positions.limit(5).to_a.map{|item| item.name}.join(",")
            -if society.society_positions.length > 5
              = " 他。全" + society.society_positions.length.to_s + "種類"
          td  = " 全" + society.doctors.length.to_s + "名"
          td = link_to '編集', edit_society_path(society.id)          
= paginate @societies  
