p#notice = notice

p
  strong Name:
  = @society.name
p
  strong English name:
  = @society.english_name
p
  strong Address:
  = @society.address
p
  strong Email:
  = @society.email

= link_to 'Edit', edit_society_path(@society)
'|
= link_to 'Back', societies_path
