table.datafiles{
  td{
  	.status{
      text-align: center;
      border-radius: 4px;
      color: white;
  	}
    .not_yet_import{
      background-color: #FFB14C;
    }
    .cannot_imoprt{
      background-color: #FF564C;
    }
    .importing{
      background-color: #D877FF;
    }
    .imported{
      background-color: #6EDE87;
    }
    .failed{
      background-color: #FF0000;
    }
  }
}

.show-datafile{
  dl{
    border: solid 1px #CCC;
    border-radius: 4px;
    dt{
      text-align: center;
      border-radius: 4px 4px 0px 0px / 4px 4px 0px 0px;
      background-color: #F5F5F5;
      line-height: 40px;
      border-bottom: solid 1px #CCC;
    }

    dd{
      text-align: center;
      font-size: 36px;
      line-height: 60px;
    }
  }
}

.show-datafile-messages{
  dl{
    border: solid 1px #CCC;
    border-radius: 4px;
    dt{
      text-indent: 1em;
      border-radius: 4px 4px 0px 0px / 4px 4px 0px 0px;
      background-color: #F5F5F5;
      line-height: 40px;
      border-bottom: solid 1px #CCC;
    }
    dd{
      padding: 5px;
    }
  }
}
