<%- url = root_url + '#/password_edit?token=' + @doctor.reset_password_token %>
<p><%= @resource.name %>様</p>

<p>Whytlinkのパスワード変更申請が行われました。</p>
<p>下記、リンクをクリックし、パスワードを御変更ください。</p>
<p><%= link_to 'パスワードを変更', url %></p>

<a href="https://www.reasonwhy.jp">運営：リーズンホワイ株式会社</a>
