= simple_form_for(@university) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :english_name
    = f.input :address
    = f.input :email

  .form-actions
    = f.button :submit
