h2 大学一覧
= form_tag universities_path, method: 'get' do
  = text_field_tag :search, params[:search]
  = submit_tag "検索"
= paginate @universities 
= form_tag merge_universities_path, method: 'patch' do
  = submit_tag "選択した大学をマージ"
  = hidden_field_tag nil, params[:search], name: "search"
  table.table.table-striped
    thead
      tr
        td ID
        td マージターゲット
        td 名称
        td 卒業医師
    tbody
      - @universities.order(:id).each do |university|
        tr             
          td 
            div= university.id
            div= hidden_field_tag nil, university.id, name: "universities[][id]"
          td = select_tag("universities[][target]", options_for_select(@universities.select{|item| item.id != university.id}.map{|item| item.id}), include_blank: true) 
          td = university.name
          td
            = university.doctors.limit(5).to_a.map{|item| item.name}.join(",")
            -if university.doctors.length > 5
              = " 他。全" + university.doctors.length.to_s + "名"
= paginate @universities  
