p#notice = notice

p
  strong Name:
  = @university.name
p
  strong English name:
  = @university.english_name
p
  strong Address:
  = @university.address
p
  strong Email:
  = @university.email

= link_to 'Edit', edit_society_path(@university)
'|
= link_to 'Back', universities_path
