h1 チャートタイプ一覧

= link_to '新規作成', new_chart_type_path, class: "btn btn-primary btn-large", :style => "margin: 15px;"

table.table.table-bordered.table-striped.datafiles
  thead
    tr
      th Chart Type
      th description
      th

  tbody
    - @chart_types.each do |chart_type|
      tr
        td = chart_type.name
        td = chart_type.description
        td
          = link_to '表示', chart_type, class: "btn btn-primary btn-large", :style => "margin-right: 15px;"
          = link_to '編集', edit_chart_type_path(chart_type), class: "btn btn-success btn-large", :style => "margin-right: 15px;"
          = link_to '削除', chart_type, data: {:confirm => '削除していいですか?'}, :method => :delete, class: "btn btn-danger btn-large", :style => "margin-right: 15px;"

= link_to '新規作成', new_chart_type_path, class: "btn btn-primary btn-large", :style => "margin: 15px;"
