h1 Listing society_positions

table
  thead
    tr
      th Name
      th Comment
      th Society
      th
      th
      th

  tbody
    - @society_positions.each do |society_position|
      tr
        td = society_position.name
        td = society_position.comment
        td = society_position.society
        td = link_to 'Show', society_position
        td = link_to 'Edit', edit_society_position_path(society_position)
        td = link_to 'Destroy', society_position, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Society position', new_society_position_path
