p#notice = notice

p
  strong Name:
  = @society_position.name
p
  strong Comment:
  = @society_position.comment
p
  strong Society:
  = @society_position.society

= link_to 'Edit', edit_society_position_path(@society_position)
'|
= link_to 'Back', society_positions_path
